<html>
	<head>
		<title>RNGWars</title>

		<!-- Latest compiled and minified CSS -->
		<link href="//netdna.bootstrapcdn.com/bootswatch/3.0.2/cyborg/bootstrap.min.css" rel="stylesheet">

		<!-- Font -->
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	</head>
	<body>
		<div class='container'>
			<div class='row'>
				<div class='col-md-12'>
					<h1 class='fa text-center'>RNGWars</h1>
				</div>
			</div>
		</div>
		<!-- Latest compiled and minified JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	</body>
</html>